@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-family: Open Sans, sans-serif;
  --color: #29a28c;
  font-family: Open Sans, sans-serif;
  font-size: 1vw;
  /* width: 100vw; */
  scroll-behavior: smooth;
}
label{
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 5vw;
  margin: 5vw;
}
header {
  background-color: #2f3c47bd;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 4.375vw;
  align-items: center;
  z-index: 1;
}
li {
  text-align: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.125rem;
  color: #fff;
  position: relative;
  padding: 2vw;
  /* margin: 1vw; */
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li ul.hidden_menu {
  display: none;
  position: absolute;
  /* width: 30vw;
  top: 100%;
  left: -15vw; */
  width: 300%;
  top: 100%;
  left: 0;
  /* margin: 2vw; */
  padding: 0.5vw;
  line-height: 2vw;
  background-color: #2f3c47bd;
}
li ul.hidden_menu li {
  padding: 0.5vw;
}
li:hover ul.hidden_menu {
  display: block;
}
li:hover ul.hidden_menu + svg {
  transform: rotate(180deg) translate(0, 0.1vw);
}
a:hover ~ svg path {
  stroke: var(--color);
}
li:hover ul.hidden_menu li:hover {
  color: var(--color);
}
.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  display: flex;
  align-items: center;
}
.logo figure {
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  /* background-color: #fff; */
  background-image: url(../img/cropped-Screenshot_95-1\ 1_page.png);
  background-size: 118%;
  background-position: -0.1875vw center;
  margin: 0 0.3125vw;
}
.banner div.figure {
  width: 100%;
  height: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: 
    linear-gradient(#0d0c21a6, #0d0c21a6), 
    url(../img/cooper.jpg);
  background-size: cover;
}
.banner .figure .text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.9375rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.0625vw;
  -webkit-text-stroke-color: black;
  margin: 7vw auto 5vw auto;
}
.banner .figure .text .button {
  text-align: center;
  color: #fff;
  padding: 0.75vw 2.5vw;
  border: 0.0625vw solid white;
  border-radius: 50vw;
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 4;
  font-size: 1rem;
  font-weight: lighter;
  font-stretch: 200%;
  cursor: pointer;
}
.banner .figure .text .button:hover {
  color: #29a28c;
  text-decoration: none;
  border: 0.0625vw solid #29a28c;
  cursor: pointer;
}
.banner .figure .arrow {
  width: 5vw;
  height: 6vw;
  margin: 2vw auto;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  text-align: center;
}
.banner .figure .arrow svg {
  margin: auto;
}
@keyframes slidein {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
.statistics {
  display: flex;
  color: #000;
  top: 50vw;
  margin: 5vw;
  text-align: center;
  justify-content: center;
}
.statistics h2 {
  font-size: 3rem;
  font-weight: 600;
}
.statistics p {
  font-size: 1rem;
  font-weight: 400;
}
.statistics div {
  padding: 1vw 5vw;
}
.rb {
  border-right: 0.1875vw solid #29a28c;
}
.guarantees {
  display: flex;
  color: #000;
  top: 50vw;
  margin: 5vw;
  text-align: center;
  justify-content: center;
}
.guarantees .item1 {
  padding: 0;
  margin: 0;
  width: 45vw;
  height: 35vw;
  background-image: url(https://ucarecdn.com/83398f66-832a-4a52-9930-0549e372be61/);
  background-size: cover;
}
.guarantees .item2 {
  padding: 1vw;
  margin: 0;
  width: 45vw;
  height: 35vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.guarantees blockquote {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2vw;
  position: relative;
}
.guarantees blockquote::after {
  width: 3.75vw;
  height: 3.75vw;
  background: url("https://img.icons8.com/glyph-neue/64/d9d9d9/quote-right.png");
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
}
.guarantees blockquote::before {
  width: 3.75vw;
  height: 3.75vw;
  background: url("https://img.icons8.com/glyph-neue/64/D9D9D9/quote-left.png");
  background-size: cover;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}
.guarantees .text {
  font-size: 1.4375rem;
  padding: 0 3vw;
  line-height: 130%;
  font-stretch: 200%;
  margin-top: 4vw;
}
.guarantees .bottom-text {
  font-size: 0.8125rem;
  font-weight: lighter;
  margin: 1vw;
  margin-top: 4vw;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.card {
  /* background-color: #000; */
  box-shadow: 0 0 1vw #888;
  height: 30vw;
  width: 25%;
  border-radius: 3vw;
  position: relative;
  padding: 2vw;
}
.card::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  border-top-right-radius: 3vw;
  border: 5vw solid #017b65;
  border-bottom: 5vw solid transparent;
  border-left: 5vw solid transparent;
}
.card::before {
  content: "";
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  width: 3.75vw;
  height: 3.75vw;
  background-size: cover;
}
.card1::before {
  background-image: url(https://img.icons8.com/wired/60/ffffff/smartphone-tablet.png);
}
.card2::before {
  background-image: url(https://img.icons8.com/pastel-glyph/60/ffffff/laptop-and-phone.png);
}
.card3::before {
  background-image: url(https://img.icons8.com/ios/60/ffffff/internet--v1.png);
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.card h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 140%;
  font-stretch: 200%;
  padding: 1vw 3vw 1vw 1vw;
}
.card p {
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 150%;
  padding: 1vw;
}
.button {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  width: 100%;
  cursor: pointer;
}
.button .icon {
  width: 3.125vw;
  height: 3.125vw;
  background-image: url(https://img.icons8.com/ios/50/000000/cloud--v1.png);
  background-size: cover;
}
.button .text {
  color: #000;
  font-size: 1rem;
  font-weight: normal;
  line-height: 3.125vw;
}
.button .arrow {
  width: 3.125vw;
  height: 3.125vw;
  background-image: url(https://img.icons8.com/ios/50/000000/long-arrow-right--v1.png);
  background-size: cover;
}
.button:hover .icon {
  width: 3.125vw;
  height: 3.125vw;
  background-image: url(https://img.icons8.com/ios/50/29A28C/cloud--v1.png);
  background-size: cover;
}
.button:hover .text {
  color: #29a28c;
  font-size: 1rem;
  font-weight: normal;
  line-height: 3.125vw;
}
.button:hover .arrow {
  width: 3.125vw;
  height: 3.125vw;
  background-image: url(https://img.icons8.com/ios/50/29A28C/long-arrow-right--v1.png);
  background-size: cover;
}
.project .project__slider {
  display: flex;
  transition: 0.6s;
  overflow: hidden;
}
#project1:checked ~ .project__slider {
  margin-left: 0;
}
#project2:checked ~ .project__slider {
  margin-left: -100vw;
}
#project3:checked ~ .project__slider {
  margin-left: -200vw;
}
.project .project__slide {
  display: flex;
  position: relative;
  margin: 0 10vw;
}
.project .project__slider .project__slide .img {
  padding: 0;
  margin: 0;
  width: 35vw;
  height: 30vw;
  background-image: url(https://ucarecdn.com/26b4a8e2-88ae-42b0-81f7-90bcf30ad7ef/);
  background-size: cover;
}
.project .project__slider .project__slide .item2 {
  padding: 1vw;
  margin: 0;
  width: 45vw;
  height: 30vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.project h3 {
  font-size: 2.25vw;
  font-weight: normal;
  text-transform: uppercase;
}
.project .text {
  font-size: 1.125rem;
  font-weight: normal;
  padding: 1vw 5vw 1vw 1vw;
  line-height: 150%;
}
.project .button {
  justify-content: left;
}
.project .project__slider .project__slide  .item2 .button .text {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 100%;
  text-align: center;
  padding: 1vw;
}
.arrow-left{
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(https://img.icons8.com/ios/24/back--v1.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: -2vw;
}
.arrow-right{
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(https://img.icons8.com/ios/24/forward--v1.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  right: -2vw;
}
.button-black {
  font-size: 1rem;
  font-weight: lighter;
  color: #fff;
  background-color: #000;
  padding: 1vw 2vw;
  border-radius: 2vw;
  width: fit-content;
  margin: 1vw auto 3vw auto;
  cursor: pointer;
  border: 0.0625vw solid #000;
  box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.25);
}
.button-black:hover {
  color: #000;
  background-color: #fff;
  border: 0.0625vw solid #000;
}
.process .selector {
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  padding: 0;
}
.process .item1 {
  width: 8vw;
  height: 30vw;
  display: flex;
  flex-wrap: wrap;
}
.process .item1 label {
  margin: 1vw;
  border: 0.0625vw solid #000;
  width: 6vw;
  text-align: center;
  font-size: 1.125rem;
  line-height: 2.8vw;
  background-color: transparent;
}
/* .process .item1 .rec1 {
  color: #29a28c;
  border: .0625vw solid #29a28c;
} */
.process .item2 {
  width: 45vw;
  height: 30vw;
  background-image: url(https://ucarecdn.com/5a556d3e-6c7c-4715-9128-e7f2ebe384cb/);
  background-size: cover;
}
.process .item3 {
  width: 35vw;
  height: 30vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.process .item3 h3 {
  font-size: 2.25vw;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1vw;
}
.process .text {
  font-size: 1.125rem;
  font-weight: normal;
  padding: 1vw;
  line-height: 150%;
}
.process .selector .item3 .button .text {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 100%;
  text-align: center;
}
.process .button {
  justify-content: left;
}
.about .images {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  margin: 5vw 5vw 0vw;
  justify-content: space-between;
}
.about img {
  width: 7vw;
  transition: 0.3s;
}
.about img:hover {
  transform: scale(1.5);
}
.contacts {
  display: flex;
  padding-top: 10vw;
}
.contacts .item1 {
  width: 45vw;
  height: 30vw;
  background-color: #027b6610;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 5vw;
}
.contacts .item1 div {
  width: 100%;
}
.contacts .item1 .icon {
  width: 7vw;
  height: 7vw;
  background-image: url(https://ucarecdn.com/b879c200-500c-4402-ac21-3de2cdca612c/);
  background-size: cover;
}
.contacts .item1 .text1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 180%;
  /* padding: 0.5vw; */
}
.contacts .item1 .text2 {
  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 300;
  /* padding: 0.5vw; */
}
.contacts .item1 .text3 {
  font-size: 1rem;
  line-height: 100%;
  font-weight: 300;
  padding: 0.5vw;
  margin-top: 1.5vw;
  width: 80%;
}
.contacts .item1 .stars {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 2vw;
}
.contacts .item1 .stars .star {
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(https://img.icons8.com/fluency/48/star--v1.png);
  background-size: cover;
}
.contacts .item2 {
  width: 55vw;
  height: 30vw;
  background: linear-gradient(
    217deg,
    #25ba9f 0%,
    #1b7f6d 50.47%,
    #157161 73.06%,
    #09463b 98.43%
  );
  color: #fff;
  padding: 5vw 10vw;
}
.contacts .item2 h2 {
  /* font-size: 2.25vw; */
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.contacts .item2 .inputs {
  background-color: transparent;
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts .item2 .inputs div.name {
  width: 100%;
}
.contacts .item2 .inputs input.name {
  width: 100%;
}
.contacts .item2 .inputs .textarea {
  width: 100%;
}
.contacts input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 1vw 0;
  font-size: 1.125rem;
  color: #fff8;
  padding: 0.5vw;
  border-bottom: 0.0625vw solid #fff;
}
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.125rem;
  color: #fff8;
  border: 0.0625vw solid #fff;
  border-radius: 1vw;
  width: 100%;
  height: 10vw;
  padding: 1vw;
  margin: 1vw 0;
}
input::placeholder,
textarea::placeholder {
  color: #fff8;
}
.textarea {
  position: relative;
}
.textarea::after {
  content: "";
  display: block;
  width: 2vw;
  height: 2vw;
  background-image: url(https://img.icons8.com/ios/50/ffffff/attach.png);
  /* opacity: 50%; */
  background-size: cover;
  border: 0.0625vw solid #fff;
  border-radius: 20%;
  position: absolute;
  bottom: 2vw;
  right: 1vw;
}
.textarea::before {
  content: "";
  display: block;
  width: 2vw;
  height: 2vw;
  background-image: url(https://img.icons8.com/ios/50/ffffff/telegram-app.png);
  /* opacity: 50%; */
  background-size: cover;
  border: 0.0625vw solid #fff;
  border-radius: 20%;
  position: absolute;
  bottom: 2vw;
  right: 3.5vw;
}
footer .row1 {
  width: 90vw;
  border-bottom: 0.1875vw solid #bdbdbd;
  margin: auto;
  margin-top: 10vw;
  height: 25vw;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .row2 {
  width: 85vw;
  margin: 3vw auto 5vw auto;
  text-align: right;
  color: #bdbdbd;
}
footer .row1 .col1,
footer .row1 .col2,
footer .row1 .col3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
footer .row1 .col1 .icon {
  background-image: url(https://ucarecdn.com/b4157a46-7c83-475d-afd0-e2d490c29bbd/);
  width: 5vw;
  height: 5vw;
  background-size: cover;
  padding: 1vw;
}
footer .row1 .col1 .icon-text {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1vw;
}
footer .row1 .col1 .text {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 1vw 1vw 5vw;
}
footer .row1 .col3 div {
  padding: 1vw 1vw;
  width: 45%;
  font-size: 1.125rem;
  font-weight: 300;
}
footer .row1 .col2 .tel .icon {
  background-image: url(https://img.icons8.com/ios-filled/50/phone.png);
  width: 2vw;
  height: 2vw;
  background-size: cover;
}
footer .row1 .col2 .tel,
.mail1,
.mail2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 18vw;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.5vw;
  gap: 0.5vw;
}
footer .row1 .col2 .mail1 .icon1 {
  background-image: url(https://img.icons8.com/ios/50/mail.png);
  width: 2vw;
  height: 2vw;
  background-size: cover;
}
footer .row1 .col2 .mail2 .icon2 {
  background-image: url(https://img.icons8.com/ios-filled/50/whatsapp--v1.png);
  width: 2vw;
  height: 2vw;
  background-size: cover;
}
footer .row1 .col2 .mail2 .icon3 {
  background-image: url(https://img.icons8.com/ios-filled/50/telegram-app.png);
  width: 2vw;
  height: 2vw;
  background-size: cover;
}
footer .row1 .col2 .text2 {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
footer {
  position: relative;
}
.arrow-up {
  width: 2.625vw;
  height: 3.75vw;
  position: absolute;
  bottom: 20vw;
  right: 5vw;
  /* display: none; */
}
.process .process__slider {
  display: flex;
  gap: 8.85vw;
  width: 600vw;
  justify-content: space-between;
  transition: 0.6s;
  overflow: hidden;
  /* margin-left: -100%; */
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6 {
  /* width: 100%; */
  display: flex;
  transition: 0.6s;
  opacity: 0%;
}
label {
  position: relative;
  z-index: 5;
}
input[type="radio"] {
  display: none;
}
#rec1:checked ~ .process__slider {
  margin-left: 0;
}
#rec1:checked ~ .item1 > label[for="rec1"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec1:checked ~ .process__slider .slide1
{
  opacity: 100%;
}
#rec2:checked ~ .process__slider {
  margin-left: -100%;
}
#rec2:checked ~ .item1 > label[for="rec2"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec2:checked ~ .process__slider .slide2
{
  opacity: 100%;
}
#rec3:checked ~ .process__slider {
  margin-left: -200%;
}
#rec3:checked ~ .process__slider .slide3
{
  opacity: 100%;
}
#rec3:checked ~ .item1 > label[for="rec3"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec4:checked ~ .process__slider {
  margin-left: -300%;
}
#rec4:checked ~ .item1 > label[for="rec4"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec4:checked ~ .process__slider .slide4
{
  opacity: 100%;
}
#rec5:checked ~ .process__slider {
  margin-left: -400%;
}
#rec5:checked ~ .item1 > label[for="rec5"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec5:checked ~ .process__slider .slide5
{
  opacity: 100%;
}
#rec6:checked ~ .process__slider {
  margin-left: -500%;
}
#rec6:checked ~ .item1 > label[for="rec6"]{
  color: #29a28c;
  border: .0625vw solid #29a28c;
}
#rec6:checked ~ .process__slider .slide6
{
  opacity: 100%;
}
